In [2]:
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pb

In [3]:
dep = pb.read_csv ('Suicide_Detection.csv')

In [21]:
dep.shape

(232074, 3)

In [23]:
dep.tail()

,Unnamed: 0,text,class
232069,348103,If you don't like rock then your not going to ...,non-suicide
232070,348106,You how you can tell i have so many friends an...,non-suicide
232071,348107,pee probably tastes like salty teaüòèüí¶‚ÄºÔ∏è can som...,non-suicide
232072,348108,The usual stuff you find hereI'm not posting t...,suicide
232073,348110,I still haven't beaten the first boss in Hollo...,non-suicide

In [25]:
x = dep['text']

In [26]:
y = dep['class']

In [27]:
sns.plot(x,y)

AttributeError: module 'seaborn' has no attribute 'plot'